# Ignore everything
*

# Except these files
!btn-handler.jsx
!App.jsx
!App.css
!server.py
!README.md
!.gitignore
!Procfile
!requirements.txt
!start.sh
!package.json

# Allow directories to be traversed
!*/